@import 'shared';

.App {
  $menuSize: 80vw;
  $buttonSize: $spacing * 6;

  @include absolute-lt;
  @include full-size;

  &__Scroll {
    @include absolute-lt;
    @include full-size;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__MenuGroup {
    margin: $spacing 0;
    padding: $spacing;
    border: 1px solid gray;
    overflow: hidden;
    white-space: normal;
    word-break: break-all;
  }

  &__MenuNavigationItem {
    $height: 10vw;

    @include size(100%, $height);
    @include flex-vertical-center;
    text-transform: uppercase;
    font-size: $height * .5;
    padding: $spacing;
    border-bottom: 1px sold #FFF;
    background-color: #EEE;

    &_Active {
      background-color: #BBB;
    }
  }
}
