@import 'shared';

.DictionaryPage {
  @include full-size;
  @include flex(column);
  overflow: hidden;

  > * {
    flex: 0 0 auto;
  }

  &__Tabs {
    flex: 1 1 auto;
    margin-top: $spacing;
    overflow: hidden;
  }

  &__Records {
    @include full-size;
    flex: 1 1 auto;
    overflow-y: auto;
  }

  &__Record {
    width: 100%;
    padding: $spacing / 2;

    > *:not(:last-child) {
      margin-right: $spacing / 2;
    }

    cursor: pointer;

    &:hover {
      background-color: lightgray;
    }
  }
}
